/*
 {"Mellow Apricot":"f7b267","Atomic Tangerine":"f79d65","Coral":"f4845f","Bittersweet":"f27059","Fire Opal":"f25c54"} 
 
 {"Rich Black FOGRA 29":"0d1b2a","Oxford Blue":"1b263b","Bdazzled Blue":"415a77","Shadow Blue":"778da9","Platinum":"e0e1dd"}
 
 */




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d1b2a;

}

.drum {
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;
    color: #f79d65;
    text-shadow: 0 0 5px #f25c54;
    display: flex;
    position: relative;

    height: 10vh;
    margin: auto;

    margin-left: 10vw;
    top: 90px;
}

.keys {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 90vh;
    margin: auto;
}

.key {
    border: 1px solid #F4845F;
    border-radius: 5px;

    width: 100px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;

    text-align: center;
    color: #F79D65;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;

    transition: all 0.07s;

}

.playing {
    transform: scale(1.1);
    border-color: #f25c54;
    box-shadow: 0 0 10px #f25c54;
}

kbd {
    display: block;
    font-size: 40px;
}

.sound {
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f27059;
}